.task-list-app {
  min-height: 100vh;
  
  background-color: #e9d4ff;

}

.header {
  background-color: #d2aafa;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-top: 5px;
  padding-bottom: 5px;
  height: 8vh;
  
}

.logo {
  height: 50px;
  margin-right: 10px;
}

.logo-heading {
  display: flex;
  align-items: center;
}

.input-style {
  height: 36px;
  border-radius: 6px;
  border: none;
}

.add-button {
  background-color: #6373a4;
  color: white;
  border: none;
  height: 36px;
  border-radius: 6px;
  padding: 7px 15px 7px 15px;
  align-self: flex-start;
  cursor: pointer;
  font-family: "Roboto";
  font-size: 15px;
}

.emply-list-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.chart {
  display: flex;
  justify-content: center;
  align-items: center;
}